<a href="https://colab.research.google.com/github/Sireesha0216/Artificial--intelligence-and--Machine--learning--/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task-1 The downloaded set

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/school_scores-1 (1) (2).csv')

In [ ]:
df

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,2005,AL,Alabama,559,3985,567,3.92,2.2,3.53,3.9,...,1096,596,613,1209,156,292,448,219,250,469
1,2005,AK,Alaska,519,3996,523,3.76,1.9,3.35,3.9,...,787,423,375,798,47,116,163,109,115,224
2,2005,AZ,Arizona,530,18184,526,3.85,2.1,3.45,3.9,...,3814,1831,1679,3510,327,630,957,412,501,913
3,2005,AR,Arkansas,552,1600,563,3.90,2.2,3.61,4.0,...,443,242,226,468,49,83,132,77,93,170
4,2005,CA,California,522,186552,504,3.76,1.8,3.32,3.8,...,37605,16078,14966,31044,5451,8792,14243,5011,4766,9777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2015,VA,Virginia,517,59621,518,3.83,2.1,3.47,3.9,...,10870,5765,5401,11166,1257,2170,3427,1479,1561,3040
573,2015,WA,Washington,511,44423,502,3.83,2.2,3.50,3.9,...,8150,3819,3745,7564,842,1584,2426,1067,1077,2144
574,2015,WV,West Virginia,500,2501,509,3.92,2.4,3.71,3.9,...,355,211,186,397,30,43,73,42,40,82
575,2015,WI,Wisconsin,606,2277,591,3.93,2.6,3.77,4.1,...,798,387,337,724,166,309,475,198,225,423
576,2015,WY,Wyoming,587,181,588,3.91,2.5,3.84,4.1,...,64,34,20,54,12,13,25,15,15,30

In [ ]:
df.head()

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,2005,AL,Alabama,559,3985,567,3.92,2.2,3.53,3.9,...,1096,596,613,1209,156,292,448,219,250,469
1,2005,AK,Alaska,519,3996,523,3.76,1.9,3.35,3.9,...,787,423,375,798,47,116,163,109,115,224
2,2005,AZ,Arizona,530,18184,526,3.85,2.1,3.45,3.9,...,3814,1831,1679,3510,327,630,957,412,501,913
3,2005,AR,Arkansas,552,1600,563,3.90,2.2,3.61,4.0,...,443,242,226,468,49,83,132,77,93,170
4,2005,CA,California,522,186552,504,3.76,1.8,3.32,3.8,...,37605,16078,14966,31044,5451,8792,14243,5011,4766,9777

In [ ]:
df.tail()

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
572,2015,VA,Virginia,517,59621,518,3.83,2.1,3.47,3.9,...,10870,5765,5401,11166,1257,2170,3427,1479,1561,3040
573,2015,WA,Washington,511,44423,502,3.83,2.2,3.50,3.9,...,8150,3819,3745,7564,842,1584,2426,1067,1077,2144
574,2015,WV,West Virginia,500,2501,509,3.92,2.4,3.71,3.9,...,355,211,186,397,30,43,73,42,40,82
575,2015,WI,Wisconsin,606,2277,591,3.93,2.6,3.77,4.1,...,798,387,337,724,166,309,475,198,225,423
576,2015,WY,Wyoming,587,181,588,3.91,2.5,3.84,4.1,...,64,34,20,54,12,13,25,15,15,30

In [ ]:
#Task2- check the datatypes of columns

In [ ]:
df.dtypes

Year                                               int64
State.Code                                        object
State.Name                                        object
Total.Math                                         int64
Total.Test-takers                                  int64
                                                   ...
Score Ranges.Between 700 to 800.Math.Males         int64
Score Ranges.Between 700 to 800.Math.Total         int64
Score Ranges.Between 700 to 800.Verbal.Females     int64
Score Ranges.Between 700 to 800.Verbal.Males       int64
Score Ranges.Between 700 to 800.Verbal.Total       int64
Length: 99, dtype: object

In [ ]:
#Task-3 Perform Descriptive Statistics

In [ ]:
df.describe()

,Year,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,Academic Subjects.Foreign Languages.Average GPA,Academic Subjects.Foreign Languages.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
count,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,...,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000
mean,2010.019064,535.682842,27914.242634,531.334489,3.822704,2.288735,3.500953,3.929463,3.453345,2.850953,...,6055.634315,2914.299827,2677.575390,5592.358752,792.625650,1306.644714,2099.256499,849.818024,847.265165,1697.116118
std,3.169623,46.171611,45602.106878,44.318302,0.093249,0.319170,0.185561,0.092975,0.189107,0.344707,...,11358.022294,5949.386956,5129.548845,11069.171029,1787.202078,2557.590855,4334.327270,1665.755005,1625.228584,3289.674266
min,2005.000000,383.000000,134.000000,401.000000,3.430000,1.200000,3.030000,3.500000,3.030000,1.800000,...,26.000000,13.000000,10.000000,23.000000,2.000000,1.000000,1.000000,2.000000,2.000000,4.000000
25%,2007.000000,504.000000,2536.000000,496.000000,3.760000,2.100000,3.350000,3.900000,3.300000,2.600000,...,609.000000,319.000000,302.000000,617.000000,83.000000,163.000000,251.000000,123.000000,121.000000,246.000000
50%,2010.000000,527.000000,6468.000000,522.000000,3.850000,2.300000,3.510000,3.900000,3.460000,2.800000,...,1462.000000,718.000000,672.000000,1383.000000,223.000000,406.000000,645.000000,295.000000,295.000000,605.000000
75%,2013.000000,571.000000,35799.000000,572.000000,3.900000,2.500000,3.670000,4.000000,3.630000,3.100000,...,7308.000000,3329.000000,3215.000000,6521.000000,821.000000,1475.000000,2301.000000,987.000000,970.000000,1971.000000
max,2015.000000,619.000000,241553.000000,612.000000,3.960000,3.100000,3.880000,4.100000,3.790000,3.600000,...,116372.000000,71360.000000,56513.000000,127873.000000,24126.000000,30815.000000,54941.000000,21826.000000,20460.000000,42286.000000

In [ ]:
#Task-4 Check for null values

In [ ]:
CheckingNull=df.isnull().sum

In [ ]:
CheckingNull

<bound method NDFrame._add_numeric_operations.<locals>.sum of       Year  State.Code  State.Name  Total.Math  Total.Test-takers  \
0    False       False       False       False              False
1    False       False       False       False              False
2    False       False       False       False              False
3    False       False       False       False              False
4    False       False       False       False              False
..     ...         ...         ...         ...                ...
572  False       False       False       False              False
573  False       False       False       False              False
574  False       False       False       False              False
575  False       False       False       False              False
576  False       False       False       False              False

     Total.Verbal  Academic Subjects.Arts/Music.Average GPA  \
0           False                                     False
1           False                                     False
2           False                                     False
3           False                                     False
4           False                                     False
..            ...                                       ...
572         False                                     False
573         False                                     False
574         False                                     False
575         False                                     False
576         False                                     False

     Academic Subjects.Arts/Music.Average Years  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Academic Subjects.English.Average GPA  \
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False
..                                     ...
572                                  False
573                                  False
574                                  False
575                                  False
576                                  False

     Academic Subjects.English.Average Years  ...  \
0                                      False  ...
1                                      False  ...
2                                      False  ...
3                                      False  ...
4                                      False  ...
..                                       ...  ...
572                                    False  ...
573                                    False  ...
574                                    False  ...
575                                    False  ...
576                                    False  ...

     Score Ranges.Between 600 to 700.Math.Total  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 600 to 700.Verbal.Females  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
572                                           False
573                                           False
574                                           False
575                                           False
576                                           False

     Score Ranges.Between 600 to 700.Verbal.Males  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 600 to 700.Verbal.Total  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Math.Females  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Math.Males  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 700 to 800.Math.Total  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 700 to 800.Verbal.Females  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
572                                           False
573                                           False
574                                           False
575                                           False
576                                           False

     Score Ranges.Between 700 to 800.Verbal.Males  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Verbal.Total
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

[577 rows x 99 columns]>

In [ ]:
#Task -5 If null values presented handle the null values and remove the unwanted columns

In [ ]:
print("No null values-\n", CheckingNull)

No null values-
 <bound method NDFrame._add_numeric_operations.<locals>.sum of       Year  State.Code  State.Name  Total.Math  Total.Test-takers  \
0    False       False       False       False              False
1    False       False       False       False              False
2    False       False       False       False              False
3    False       False       False       False              False
4    False       False       False       False              False
..     ...         ...         ...         ...                ...
572  False       False       False       False              False
573  False       False       False       False              False
574  False       False       False       False              False
575  False       False       False       False              False
576  False       False       False       False              False

     Total.Verbal  Academic Subjects.Arts/Music.Average GPA  \
0           False                                     False
1           False                                     False
2           False                                     False
3           False                                     False
4           False                                     False
..            ...                                       ...
572         False                                     False
573         False                                     False
574         False                                     False
575         False                                     False
576         False                                     False

     Academic Subjects.Arts/Music.Average Years  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Academic Subjects.English.Average GPA  \
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False
..                                     ...
572                                  False
573                                  False
574                                  False
575                                  False
576                                  False

     Academic Subjects.English.Average Years  ...  \
0                                      False  ...
1                                      False  ...
2                                      False  ...
3                                      False  ...
4                                      False  ...
..                                       ...  ...
572                                    False  ...
573                                    False  ...
574                                    False  ...
575                                    False  ...
576                                    False  ...

     Score Ranges.Between 600 to 700.Math.Total  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 600 to 700.Verbal.Females  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
572                                           False
573                                           False
574                                           False
575                                           False
576                                           False

     Score Ranges.Between 600 to 700.Verbal.Males  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 600 to 700.Verbal.Total  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Math.Females  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Math.Males  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 700 to 800.Math.Total  \
0                                         False
1                                         False
2                                         False
3                                         False
4                                         False
..                                          ...
572                                       False
573                                       False
574                                       False
575                                       False
576                                       False

     Score Ranges.Between 700 to 800.Verbal.Females  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False
..                                              ...
572                                           False
573                                           False
574                                           False
575                                           False
576                                           False

     Score Ranges.Between 700 to 800.Verbal.Males  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

     Score Ranges.Between 700 to 800.Verbal.Total
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
..                                            ...
572                                         False
573                                         False
574                                         False
575                                         False
576                                         False

[577 rows x 99 columns]>